@model Escuela
@{
    ViewData["Title"] = "School Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h3>Desde la vista normal</h3>
    <h1>Escuela: @Model.Nombre</h1>
    <h2>Nombre: @Model.AñoDeCreación</h2>
    <h4>@Model.ToString()</h4>
    <p> @Model.UniqueId Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab illo 
        accusantium, quibusdam facere nisi expedita repudiandae itaque maiores ipsam iure fugiat dicta delectus quos numquam dolor optio mollitia recusandae voluptatum.</p>
    
</div>
