@{
    ViewData["Title"] = "School Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Escuela: @Model.Nombre</h1>
    <h2>Nombre: @Model.AñoFundación</h2>
    <p> @Model.EscuelaId Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab illo 
        accusantium, quibusdam facere nisi expedita repudiandae itaque maiores ipsam iure fugiat dicta delectus quos numquam dolor optio mollitia recusandae voluptatum.</p>
</div>
