@{
    ViewData["Title"] = "Asignature Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h3>Desde la vista normal</h3>
    <h1>Escuela: @Model.Nombre</h1>
    <h2>Nombre:</h2>
    <p> @Model.UniqueId </p>
    <h3>Desde la vista simple</h3>
    <partial name="AsignaturaSimple" model=@Model/>
</div>
