@model IEnumerable<Asignatura>

<div class="text-center">

    <h3>Desde la vista multiple</h3>

    <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var signature in Model)
    {
        <partial name="AsignaturaSimple" model=@signature/>
    }
    </tbody>
</table>
    
    
</div>
